openapi: 3.0.3
info:
  title: bradn's API
  description: |-
    ## Hypixel API Notice

    Due to Hypixels new API policies proxying the api to 3rd party users is not allowed therefor we cannot condone you use any Hypixel related routes on your own site. 
    If this becomes a problem we reserve the right to block certain IPs or domains. 
    I would love to allow users to use our API but due to hypixel's terms we cannot condone it.

    That being said, any other minecraft route is totally okay for you to use, and I will happily provide support for it in my discord server.

    ## Rate Limiting

    Certain routes will limit the amount of requests you can send per 10 second intervals. These limits can be changed by contacting bradn and requesting an API key.

    Limits are per IP address or per key. For example the route of /api/v1/minecraft/* is limited to 20 requests per 10 seconds.
    | Number of Requests | Resources | Time Window | Status Code Returned when Threshold Exceeds |
    |--|--|--|--|
    | 120 | Per IP | Per minute | HTTP 429 |
  termsOfService: ""
  contact:
    name: "bradn"
    url: "https://www.bradn.dev/"
  license:
    name: ""
  version: 1.0.0
externalDocs:
  description: View our minecraft site
  url: https://mc.bradn.dev/
servers:
  - url: https://api.bradn.dev/api/v1
tags:
  - name: Minecraft
    description: Minecraft and Hypixel related routes
    externalDocs:
      description: View site
      url: https://mc.bradn.dev/
paths:
  /minecraft/player/{username}:
    get:
      tags:
        - Minecraft
      summary: Get a minecraft player
      description: Get a minecraft player by username
      operationId: getMinecraftPlayer
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
          description: valid Mojang player username
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MojangPlayer"
        "400":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid Mojang API Response
        "401":
          description: Invalid player supplied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid player
  /minecraft/landing:
    get:
      tags:
        - Minecraft
      summary: Get landing page information
      description: |-
        Get landing page information including:

        - The site creator
        - The most viewed user of all time
        - The user thats data was most recently updated
        - The user with the highest K/D
        - The user with the highest Hypixel Karma
        - The user with the highest Hypixel Network Level
      operationId: getMinecraftLanding
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinecraftLanding"
        "400":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
  /minecraft/texture/{texture}:
    get:
      tags:
        - Minecraft
      summary: Get the png of a minecraft texture
      description: |-
        Get the png of a minecraft texture
      parameters:
        - in: path
          name: texture
          schema:
            type: string
          required: true
          description: valid Mojang texture id
      operationId: getMojangTexture
      responses:
        "200":
          description: Successful operation
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Invalid mojang texture ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid Texture ID"
  /minecraft/hypixel/{uuid}:
    get:
      tags:
        - Minecraft
      summary: Get a players hypixel stats
      description: Get a Hypixel stats by uuid
      operationId: getHypixelPlayer
      parameters:
        - in: path
          name: uuid
          schema:
            type: string
            minLength: 32
            maxLength: 32
          required: true
          description: valid Mojang player uuid without dashes
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HypixelPlayer"
        "400":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal Server Error
        "401":
          description: Invalid player supplied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid player
components:
  schemas:
    MojangPlayer:
      type: object
      properties:
        uuid:
          type: string
          minLength: 32
          maxLength: 32
          example: 5508a57b74694d09860074b87d548fc7
        username:
          type: string
          example: bradn
        skin:
          type: object
          properties:
            url:
              type: string
              example: https://api.bradn.dev/api/v1/minecraft/texture/85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
            id:
              type: string
              example: 85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
        cape:
          type: object
          properties:
            url:
              type: string
              example: https://api.bradn.dev/api/v1/minecraft/texture/2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
            id:
              type: string
              example: 2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
        mojangCacheUntil:
          type: string
          format: date-time
        views:
          type: integer
          example: 999
    MinecraftLanding:
      type: object
      properties:
        creator:
          type: object
          properties:
            username:
              type: string
              example: bradn
            uuid:
              type: string
              minLength: 32
              maxLength: 32
              example: 5508a57b74694d09860074b87d548fc7
            skin:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
                id:
                  type: string
                  example: 85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
            cape:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
                id:
                  type: string
                  example: 2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
        mostViewed:
          type: object
          properties:
            username:
              type: string
              example: bradn
            uuid:
              type: string
              minLength: 32
              maxLength: 32
              example: 5508a57b74694d09860074b87d548fc7
            skin:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
                id:
                  type: string
                  example: 85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
            cape:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
                id:
                  type: string
                  example: 2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
            views:
              type: number
              example: 900
        recentlyUpdated:
          type: object
          properties:
            username:
              type: string
              example: bradn
            uuid:
              type: string
              minLength: 32
              maxLength: 32
              example: 5508a57b74694d09860074b87d548fc7
            skin:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
                id:
                  type: string
                  example: 85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
            cape:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
                id:
                  type: string
                  example: 2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
        highestKD:
          type: object
          properties:
            username:
              type: string
              example: bradn
            uuid:
              type: string
              minLength: 32
              maxLength: 32
              example: 5508a57b74694d09860074b87d548fc7
            skin:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
                id:
                  type: string
                  example: 85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
            cape:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
                id:
                  type: string
                  example: 2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
        highestKarma:
          type: object
          properties:
            username:
              type: string
              example: bradn
            uuid:
              type: string
              minLength: 32
              maxLength: 32
              example: 5508a57b74694d09860074b87d548fc7
            skin:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
                id:
                  type: string
                  example: 85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
            cape:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
                id:
                  type: string
                  example: 2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
        highestLevel:
          type: object
          properties:
            username:
              type: string
              example: bradn
            uuid:
              type: string
              minLength: 32
              maxLength: 32
              example: 5508a57b74694d09860074b87d548fc7
            skin:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
                id:
                  type: string
                  example: 85ce8f2900ca89541c4b42c41472a19fba0e92841101aa0224a6c904636f5ce8
            cape:
              type: object
              properties:
                url:
                  type: string
                  example: https://api.bradn.dev/api/v1/minecraft/texture/2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
                id:
                  type: string
                  example: 2340c0e03dd24a11b15a8b33c2a7e9e32abb2051b2481d0ba7defd635ca7a933
            level:
              type: number
              example: 153
    HypixelPlayer:
      description: |-
        I cannot officially condone using this data on your own sites due to hypixel's api policies, however I am documenting this since my project is still an open source project and people may need it.

        I will only provide support for this data if you are self hosting my code, not if you are using my api route.
        Data should always be accurate, if you find an issue please contact me immediately so I can fix it.

        Visit my discord [here](https://discord.gg/RcdcNxR4ez) for support or similar.
      type: object
      properties:
        uuid:
          type: string
          minLength: 32
          maxLength: 32
          example: 5508a57b74694d09860074b87d548fc7
        online:
          type: boolean
          example: false
        currentlyPlaying:
          type: string
          example: null
        newPackageRank:
          type: string
          example: MVP_PLUS
        monthlyPackageRank:
          type: string
          example: NONE
        rankPlusColor:
          type: string
          example: DARK_AQUA
        monthlyRankColor:
          type: string
          example: GOLD
        firstLogin:
          type: number
          example: 1371506158000
        lastLogin:
          type: number
          example: 1687919448937
        achievementPoints:
          type: number
          example: 5040
        totalRewards:
          type: number
          example: 114
        totalDailyRewards:
          type: number
          example: 98
        rewardStreak:
          type: number
          example: 1
        rewardScore:
          type: number
          example: 1
        level:
          type: number
          example: 159.05
        karma:
          type: number
          example: 11639290
        experience:
          type: number
          example: 32609117
        expToNextLevel:
          type: number
          example: 402500
        levelExpFloor:
          type: number
          example: 32587500
        levelProgress:
          type: number
          example: 5.37
        games:
          type: object
          properties:
            tntGames:
              type: object
              properties:
                wins:
                  type: number
                  example: 191
                winstreak:
                  type: number
                  example: 0
                coins:
                  type: number
                  example: 170999
                particleEffect:
                  type: string
                  example: Music
                deathEffect:
                  type: string
                  example: Heart aura
                voidMessage:
                  type: string
                  example: Blackhole
                hat:
                  type: string
                  example: Explosive Cap
                doubleJumpEffect:
                  type: string
                  example: Smoke
                playtime:
                  type: string
                  example: 553 hours and 9 minutes
                settings:
                  type: object
                  properties:
                    wizardsActionBar:
                      type: string
                      example: True
                    runActionBar:
                      type: string
                      example: False
                    tagActionBar:
                      type: string
                      example: True
                    tipHolograms:
                      type: string
                      example: True
                    wizardsCooldownMessages:
                      type: string
                      example: True
                    doubleJumpFeather:
                      type: string
                      example: True
                    wizardsPrestigeParticles:
                      type: string
                      example: True
                modes:
                  type: object
                  properties:
                    bowSpleef:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 0
                        deaths:
                          type: number
                          example: 28
                        shotsLanded:
                          type: number
                          example: 620
                        winLossRatio:
                          type: number
                          example: 0
                        shotsGameRatio:
                          type: number
                          example: 22.142857142857142
                    tntRun:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 0
                        deaths:
                          type: number
                          example: 52
                        record:
                          type: string
                          example: 6 minutes and 9 seconds
                        winLossRatio:
                          type: number
                          example: 0
                        blocksRan:
                          type: number
                          example: 14319
                        potionsLanded:
                          type: number
                          example: 16
                    pvpRun:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 0
                        kills:
                          type: number
                          example: 6
                        deaths:
                          type: number
                          example: 11
                        record:
                          type: string
                          example: No record
                        winLossRatio:
                          type: number
                          example: 0
                        killDeathRatio:
                          type: number
                          example: 0.5454545454545454
                        killGameRatio:
                          type: number
                          example: 0.5454545454545454
                    tntTag:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 191
                        kills:
                          type: number
                          example: 3606
                        deaths:
                          type: number
                          example: 236
                        tags:
                          type: number
                          example: 36549
                        tagKillRatio:
                          type: number
                          example: 10.135607321131447
                        killWinRatio:
                          type: number
                          example: 18.87958115183246
                        winLossRatio:
                          type: number
                          example: 0.809322033898305
                    wizards:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 0
                        kills:
                          type: number
                          example: 0
                        deaths:
                          type: number
                          example: 5
                        assists:
                          type: number
                          example: 1
                        classes:
                          type: array
                          items:
                            type: object
                            properties:
                              class:
                                type: string
                                example: Hydro
                                description: |-
                                  Could be any of the following keys: 

                                  Ancient, Blood, Fire, Hydro, Ice, Kinetic, Storm, Toxic, Wither
                              kills:
                                type: number
                                example: 0
                              deaths:
                                type: number
                                example: 0
                              assists:
                                type: number
                                example: 0
                              killDeathRatio:
                                type: number
                                example: 0
                              healed:
                                type: number
                                example: 0
                              damageReceived:
                                type: number
                                example: 0
                              power:
                                type: number
                                example: 0
                              mana:
                                type: number
                                example: 0
                              prestige:
                                type: string
                                example: False
            bedwars:
              type: object
              description: Object is empty until I get time to fill out the data
            buildBattle:
              type: object
              properties:
                wins:
                  type: number
                  example: 6
                coins:
                  type: number
                  example: 90843
                gamesPlayed:
                  type: number
                  example: 60
                winsGamesPlayed:
                  type: number
                  example: 0.1
                timesVoted:
                  type: number
                  example: 200
                score:
                  type: number
                  example: 430
                modes:
                  type: object
                  properties:
                    soloNormal:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 4
                    soloPro:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 0
                    teamsNormal:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 0
                        highestPoints:
                          type: number
                          example: 182
                    guessTheBuild:
                      type: object
                      properties:
                        wins:
                          type: number
                          example: 2
                        correctGuesses:
                          type: number
                          example: 51
            murderMystery:
              type: object
              description: Object is empty until I get time to fill out the data
